:root {
	--color-primary: #ff9504;
	--color-secondary: #00aeef;
	--social-icon-size: 35px;
	--body-color: #414141;
}

.text-dark {
	color: #000 !important;
}

a {
	color: var(--color-primary)
}

a:hover {
	color: var(--color-primary)
}

.btn {
	padding: 0.5rem 1.5rem;
	font-size: 18px;
}

.btn-sm {
	padding: 0.5rem 1rem;
}

.btn-lg {
	padding: 10px 50px;
	font-size: 40px;
	font-weight: 600;
}

.btn-primary {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

body {
	color: #414141;
	font-family: 'Barlow';
	line-height: 2;
	font-size: 18px;
	letter-spacing: 1px;
}

.py-6 {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

/* Typography */

h1,
.h1 {
	color: var(--color-primary);
}

h2,
.h2 {
	color: var(--color-primary);
}

h3,
.h3 {
	color: var(--color-primary);
	letter-spacing: 1px;
	font-size: 38px;
	font-weight: 300;
}

h4,
.h4 {
	color: var(--color-primary);
}

h6,
.h6 {
	color: var(--color-primary);
}

ul {
	padding: 0px;
	margin: 0px;
}

ul,
li {
	list-style: none;
}

.navbar-dark .navbar-nav .nav-link nav li a {
	color: #252525;
}

nav li:last-child a {
	background-image: linear-gradient(to right, #ff9300, #febd51);
	color: #fff;
	line-height: 80px;
}


/* Banner Section */
.banner {
	min-height: 70vh;
	padding: 100px 15px;
	background: url(../images/banner.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
	margin-top: 95px;
}

.banner .title-top {
	color: #fff;
	font-weight: 500;
	font-size: 25px;
	letter-spacing: 2px;
}

.banner .title-mid {
	max-width: 650px;
	margin: 0 auto;
	font-weight: 200;
	color: #fff;
	width: 95%;
}

.banner .title-bot {
	font-weight: 600;
	font-size: 18px;
}

.banner .needs-validation {
	max-width: 260px;
}

.banner .needs-validation input {
	min-height: 50px;
	padding: 10px 15px;
	border-color: transparent;
	margin-right: -1px;
}

.banner .needs-validation input::placeholder {
	color: #999;
}

/* -- Section 2 -- */
#section-2 h2 {
	line-height: 46px;
	font-weight: 400;
	color: var(--body-color);
}

#section-2 ul {
	display: flex;
}

#section-2 ul li {
	padding-right: 10px;
	margin-right: 10px;
	font-size: 18px;
	line-height: 100%;
}

#section-2 ul li:not(:last-child) {
	border-right: 1px solid #999;
}

#section-2 p {
	font-size: 18px;
}

/* -- Section 3 -- */

#section-3 li {
	margin-bottom: 15px;

}

#section-3 li:not(:last-child) {
	margin-right: 15px;
}

/* Navbar Style */

.navbar-nav .nav-item .nav-link {
	line-height: 50px;
	color: #000;
	font-weight: 550;
	padding: 0 30px;
	border-top: 1px solid #ddd;
}

@media (min-width: 767px) {
	.navbar-nav .nav-item .nav-link{
		line-height: 100px;
		border: none;
	}
}

/* Featured In Section */
.featured-in-section {
	background-color: #f3f3f3 !important;
}

.step-text {
	letter-spacing: 1px;
	color: #00aeef;
}

button.btn.btn-primary.rounded-0.btn-lg.button-get-started {
	background-color: #ff9504;
}

/*Why Solar Momentum Section*/

.why-momentum-solar-container {
	background-image: url(../images/why-banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.why-momentum-solar {
	background-color: #fff;
}

.why-choose-us-text {
	color: #ff9504;
}

.phone-number {
	font-size: 30px;
	letter-spacing: 2.5px;
}

.gradient-btn {
	border: transparent;
	background: #feb847;
	letter-spacing: 3px;
	background: -webkit-linear-gradient(top, #feb847 0%, #fea829 48%, #ff9809 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #feb847 0%, #fea829 48%, #ff9809 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb847', endColorstr='#ff9809', GradientType=0);
	/* IE6-9 */
}

.gradient-btn:hover,
.gradient-btn:focus {
	border: transparent;
	background: #ff9809;
	background: -webkit-linear-gradient(top, #ff9809 0%, #fea829 48%, #feb847 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff9809 0%, #fea829 48%, #feb847 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb847', endColorstr='#ff9809', GradientType=0);
	/* IE6-9 */
}

/* Social icons */
.social-icons { }

.social-icons .social-icon {
	text-decoration: none;
}

.social-icons .social-icon>i {
	width: var(--social-icon-size);
	height: var(--social-icon-size);
	text-align: center;
	line-height: var(--social-icon-size);
}

/* Accordion Style */

.accordion {
	color: #414141;
}

.accordion .card-header {
	background: none;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.accordion .card-header .btn {
	padding-left: 0;
	padding-right: 25px;
	color: #414141;
}

.accordion .card {
	border-left: none;
	border-right: none;
	border-color: #414141;
}

.accordion .card:first-child {
	border-top: none;
}

.accordion .card-body {
	padding: 0;
	line-height: normal;
}

.accordion .btn {
	text-align: left;
}

.accordion button.btn {
	position: relative;
}

.accordion button.btn.collapsed:after {
	content: url(../images/plus.png);
}

.accordion button.btn:after {
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
	content: url(../images/minus.png);
	width: 20px;
	height: 20px;
}


/*FAQ Section*/

.frequentlyaq-text {
	color: #ff9504;
}

.accordion-container {
	color: #000;
	text-decoration: none;
}

p.accordion-heading-text {
	text-decoration: none;
	color: #000;
}

button.btn.btn-link {
	text-decoration: none;
	color: #000;
}


/*Call Us Section*/
.call-us {
	background: rgba(51, 82, 121, 1);
	background: -moz-linear-gradient(top, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51, 82, 121, 1)), color-stop(100%, rgba(51, 188, 238, 1)));
	background: -webkit-linear-gradient(top, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	background: -o-linear-gradient(top, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	background: -ms-linear-gradient(top, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#335279', endColorstr='#33bcee', GradientType=0);
}

.contact-number {
	color: #fff;
	letter-spacing: 1px;
	font-size: 24px;
}

.or-text {
	color: #fff;
	letter-spacing: 1px;
	font-size: 24px;
}

.twitter-icon {
	color: #fff;
	background-color: #00acee;
	border-radius: 100%;
}

.facebook-icon {
	color: #fff;
	background-color: #3b5998;
	border-radius: 100%;
}

.insta-icon {
	color: #fff;
	background-color: #000000;
	border-radius: 100%;
}

.linked-icon {
	color: #fff;
	background-color: #3f729b;
	border-radius: 100%;
}

.quote-heading {
	color: var(--color-primary);
	font-size: 40px;
	line-height: normal;
}

.quote-heading:before {
	content: url(../images/quotes.png);
}

/* Testimonials Section */

.carousel {
	background: #f3f3f3;
	text-align: center;
	padding: 10px;
	margin-bottom: 60px;
}

.carousel:before{
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 20px solid#f3f3f3;
	content: "";
	position: absolute;
	left: -20px;
	top: 50%;
}

.carousel .person-name {
	font-weight: bold;
}

.carousel .carousel-indicators {
	bottom: -60px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 18px;
	height: 10px;
	box-sizing: border-box;
	margin: 0 2px;
	border-radius: 50%;
}

.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
	padding-left: 15px;
}

/*Styling for Small Screen*/
@media (min-width: 992px) { 
	.logo-sm-screen{
		display: none;
	}
	button.btn.btn-primary.rounded-0.btn-sm.d-block.text-center.my-3{
		display: none!important;
	}
}
@media (max-width: 767px) { 
	.center-on-small {
		text-align: center;
	}
	.bt-sm{
		border-top: 1px solid;
		padding-bottom: 6px;
	}
	.bb-sm{
		border-bottom: 1px solid;
		padding-top: 6px;
	}
	.phone-number {
		font-size: 16px;
	}
}
@media (max-width: 991.98px) { 
	.free-quote-text{
		display: none;
	}
	#section-2 ul {
		display: block;
	}
	#section-2 ul li{
		padding: 10px 0;
	}
	#section-2 ul li:not(:last-child){
		border-right: none;
		border-bottom: 1px solid;
	}
	.hamburger-icon{
		position: absolute!important;
		top: 5px!important;
		right: 0!important;
	}
	/*Logo Styling*/
	.logo-container{
		margin: 0 auto!important;
	}
	.button-free-quote-text{
		margin: 0 auto;
	}
	.logo-lg-screen{
		display: none;
	}
	.contact-button{
		font-size: 14px;
		font-weight: 500;
	}
}

.free-quote-text:hover {
	cursor:pointer;
}