:root {
	--color-primary: #ff9504;
	--color-secondary: #00aeef;
	--social-icon-size: 35px;
	--body-color: #414141;
}

.text-dark {
	color: #000 !important;
}

a {
	color: var(--color-primary)
}

a:hover {
	color: var(--color-primary)
}

.btn {
	padding: 0.5rem 1.5rem;
	font-size: 18px;
}

.btn-sm {
	padding: 0.5rem 1rem;
}

.btn-lg {
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 600;
}

.btn-primary {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: var(--color-primary);
	border-color: var(--color-primary);
}

body {
	color: #414141;
	font-family: 'Barlow';
	line-height: 2;
	font-size: 18px;
	letter-spacing: 1px;
}

.py-6 {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

/* Typography */

h1,
.h1 {
	color: var(--color-primary);
}

h2,
.h2 {
	color: var(--color-primary);
}

h3,
.h3 {
	color: var(--color-primary);
	letter-spacing: 1px;
	font-size: 2.37rem;
	font-weight: 300;
}

h4,
.h4 {
	color: var(--color-primary);
}

h6,
.h6 {
	color: var(--color-primary);
}

ul {
	padding: 0px;
	margin: 0px;
}

ul,
li {
	list-style: none;
}

.navbar-dark .navbar-nav .nav-link nav li a {
	color: #252525;
}

nav li:last-child a {
	background-image: linear-gradient(to right, #ff9300, #febd51);
	color: #fff;
	line-height: 80px;
}
section#faq{
	background: #f3f3f3;
	text-align: center;
}
section#faq h2{
	text-transform: uppercase;
}
section#faq .comparemage{
	padding: 30px 0;
}
section#faq .comparemage img{
	width:636px;
	height: auto;
	display: block;
	margin: 0 auto;
}
.progressbar{
	width: 100%;
	position: relative;
	padding-top: 10px;
    padding-bottom: 20px;
}
.progress{
	width: 100%;
	height: 10px;
	background: #CBCBCB;
}
.progress .complete{
	width: 0%;
	background: #00aeef;
	height: 10px;
	transition: all 1s;
}
#percents{
	position: absolute;
    background: #00aeef;
    top: -11px;
    left: 0%;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    margin-left: -28px;
    width: 56px;
    text-align: center;
	transition: all 1s;
	
}
#percents::after {
	width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #00aeef;
    position: absolute;
    margin-left: -10px;
    bottom: -15px;
    left: 50%;
    content: "";
	transition: all 1s;
}
.smallnotes{
	font-size: 12px;
	padding-top: 20px;
	text-align: center;
}

/* Banner Section */
.banner {
	/*min-height: 60vh;*/
	padding: 0px 15px;
	color: #fff;
	margin-top: 95px;
}

.banner .title-top {
	color: #fff;
	font-weight: 500;
	font-size: 32px;
	letter-spacing: 2px;
}

.banner .title-mid {
	max-width: 650px;
	margin: 0 auto;
	font-weight: 200;
	color: #fff;
	width: 95%;
	font-size: 24px;
}

.banner .title-bot {
	font-weight: 600;
	font-size: 18px;
}

.banner .needs-validation {
	max-width: 260px;
}
.banner .needs-validation .startquoteform{
	display: flex;
}
.banner .needs-validation .startquoteform label{
	position: absolute;
	padding-top: 45px;
}
.banner .needs-validation input {
	min-height: 50px;
	padding: 10px 15px;
	border-color: transparent;
	margin-right: -1px;
}

.banner .needs-validation input::placeholder {
	color: #999;
}

/* -- Section 2 -- */
#section-2 h2 {
	line-height: 46px;
	font-weight: 400;
	color: var(--body-color);
}

#section-2 ul {
	display: flex;
}

#section-2 ul li {
	padding-right: 10px;
	margin-right: 10px;
	font-size: 18px;
	line-height: 100%;
}

#section-2 ul li:not(:last-child) {
	border-right: 1px solid #999;
}

#section-2 p {
	font-size: 18px;
}

/* -- Section 3 -- */

#section-3 li {
	margin-bottom: 15px;

}

#section-3 li:not(:last-child) {
	margin-right: 15px;
}

/* Navbar Style */

.navbar-light .navbar-nav .nav-item .phonenumber {
	color: #00aeef;
}

.navbar-nav .nav-item .nav-link {
	line-height: 50px;
	color: #000;
	font-weight: 550;
	padding: 0 30px;
   border-top: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   margin-bottom: -1px;
}

/* Featured In Section */
.featured-in-section {
	background-color: #f3f3f3 !important;
}

.step-text {
	letter-spacing: 1px;
	color: #00aeef;
}

button.btn.btn-primary.rounded-0.btn-lg.button-get-started {
	background-color: #ff9504;
}

/*Why Solar Momentum Section*/

.why-momentum-solar-container {
	background-image: url(../images/why-banner.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}

.why-momentum-solar {
	background-color: #fff;
}

.why-choose-us-text {
	color: #ff9504;
}

.phone-number {
	font-size: 30px;
	letter-spacing: 2.5px;
}

.gradient-btn {
	border: transparent;
	background: #feb847;
	letter-spacing: 3px;
	background: -webkit-linear-gradient(top, #feb847 0%, #fea829 48%, #ff9809 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #feb847 0%, #fea829 48%, #ff9809 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb847', endColorstr='#ff9809', GradientType=0);
	/* IE6-9 */
}

.gradient-btn:hover,
.gradient-btn:focus {
	border: transparent;
	background: #ff9809;
	background: -webkit-linear-gradient(top, #ff9809 0%, #fea829 48%, #feb847 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ff9809 0%, #fea829 48%, #feb847 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb847', endColorstr='#ff9809', GradientType=0);
	/* IE6-9 */
}

/* Social icons */
.social-icons { }

.social-icons .social-icon {
	text-decoration: none;
}

.social-icons .social-icon>i {
	width: var(--social-icon-size);
	height: var(--social-icon-size);
	text-align: center;
	line-height: var(--social-icon-size);
}

/* Accordion Style */

.accordion {
	color: #414141;
}

.accordion .card-header {
	background: none;
	border: none;
	padding-left: 0;
	padding-right: 0;
}

.accordion .card-header .btn {
	padding-left: 0;
	padding-right: 25px;
	color: #414141;
}

.accordion .card {
	border-left: none;
	border-right: none;
	border-color: #414141;
}

.accordion .card:first-child {
	border-top: none;
}

.accordion .card-body {
	padding: 0;
	line-height: normal;
}

.accordion .btn {
	text-align: left;
}

.accordion button.btn {
	position: relative;
}

.accordion button.btn.collapsed:after {
	content: url(../images/plus.png);
}

.accordion button.btn:after {
	display: block;
	position: absolute;
	top: 10px;
	right: 0;
	content: url(../images/minus.png);
	width: 20px;
	height: 20px;
}


/*FAQ Section*/

.frequentlyaq-text {
	color: #ff9504;
}

.accordion-container {
	color: #000;
	text-decoration: none;
}

p.accordion-heading-text {
	text-decoration: none;
	color: #000;
}

button.btn.btn-link {
	text-decoration: none;
	color: #000;
}


/*Call Us Section*/
.call-us {
	background: rgba(51, 82, 121, 1);
	background: -moz-linear-gradient(top, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(51, 82, 121, 1)), color-stop(100%, rgba(51, 188, 238, 1)));
	background: -webkit-linear-gradient(top, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	background: -o-linear-gradient(top, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	background: -ms-linear-gradient(top, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	background: linear-gradient(to bottom, rgba(51, 82, 121, 1) 0%, rgba(51, 188, 238, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#335279', endColorstr='#33bcee', GradientType=0);
}

.contact-number {
	color: #fff;
	letter-spacing: 1px;
	font-size: 24px;
}

.or-text {
	color: #fff;
	letter-spacing: 1px;
	font-size: 24px;
}

.twitter-icon {
	color: #fff;
	background-color: #00acee;
	border-radius: 100%;
}

.facebook-icon {
	color: #fff;
	background-color: #3b5998;
	border-radius: 100%;
}

.insta-icon {
	color: #fff;
	background-color: #000000;
	border-radius: 100%;
}

.linked-icon {
	color: #fff;
	background-color: #3f729b;
	border-radius: 100%;
}

.quote-heading {
	color: var(--color-primary);
	font-size: 40px;
	line-height: normal;
}

.quote-heading:before {
	content: url(../images/quotes.png);
}

/* Testimonials Section */

.carousel {
	background: #f3f3f3;
	text-align: center;
	padding: 10px;
	margin-bottom: 60px;
}

.carousel:before{
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 20px solid#f3f3f3;
	content: "";
	position: absolute;
	left: -20px;
	top: 50%;
}

.carousel .person-name {
	font-weight: bold;
}

.carousel .carousel-indicators {
	bottom: -60px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 18px;
	height: 10px;
	box-sizing: border-box;
	margin: 0 2px;
	border-radius: 50%;
}

.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
	padding-left: 15px;
}

.free-quote-text:hover {
	cursor:pointer;
}

.form .btn.btn-primary{
   background: var(--color-secondary);
   border-color: var(--color-secondary);
}

.form .btn.btn-primary:hover,
.form .btn.btn-primary:focus{
   background:#009fdf91;
   outline: none;
   border-color:#009fdf91;
}

.form input.form-control,
.form .btn{
   min-height:40px;
   letter-spacing: 2px;
}

.form input.form-control{
   padding-left:20px;
   padding-right:20px;
}

.form input.form-control::placeholder{
   color:#999;
}

.form .btn{
   font-size: 20px;
   max-width: 400px;
   width: 100%;
   text-transform: uppercase;

}

.close{
   position: absolute;
   top:10px;
   right:10px;
}

/* -- Step 1 -- */
.step-1 {}
.step-1 .custom-width{
   max-width: 650px;
	margin: 0 auto;
	width: 100%;
}

/* -- Step 2 -- */

.checkbox{
   border:1px solid #ddd;
   width: 240px;
   height: 90px;
   display: inline-flex;
   justify-content:center;
   align-items:center;
   margin-bottom:30px;
   margin-left:15px;
   margin-right: 15px;
   cursor: pointer;
   padding:0px;
}
.checkbox label:after, 
.checkbox label:before{
   display: none;
}
.checkbox input{
   cursor: pointer;
}

.checkbox input:checked{
   background: #000;
}

/* -- Step 4 -- */

.shade{
   cursor: pointer;
   max-width:300px;
   margin:0 auto;
   width: 100%;
}

.step-4 img{
   width:100%;
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
   position: relative;
}

.step-4 p{
   padding-left:15px;
   padding-right:15px;
   font-size: 14px;
}

.back{
  font-size: 22px; 
  line-height: 22px;
}

.back i{
   font-size: 32px;
   margin-right: 10px;
}

.bill-box > div.custom-radio:hover, #step-4 > div.custom-radio1:hover{
   background: #009fdf;
   color: #fff;
}

.bill-box > div.custom-radio .electicbill_radio, #step-4 > div.custom-radio .shade_radio{
	width: 100%;
	z-index: 9999 !important;
	height: 100%;
}
.step4mobile{
	display: none;
}


/* Step-5 */
.custom-modal .step-3 label.error{
   text-align: center;
}
.custom-modal .error{
   width: 100%;
   text-align: left;
}

.error {
   color: #f00;
}

.cw-75 {
   max-width: 580px;
   width: 100%;
   margin: 0 auto;
}

/* Modal */

.custom-modal {
   font-family: 'Lato';
	line-height: 26px;
}

.modal-body {
	-webkit-overflow-scrolling: touch;
}

.custom-modal h3{ color: #1c1c1c; }

.custom-modal .step-1 .needs-validation{
   max-width: 400px;
   width: 95%;
}
.custom-modal .container{
   padding: 50px;
}
.custom-modal .close{
   font-size: 65px;
	font-weight: 100;
	opacity: 1;
   color: #000;
   z-index: 999;
   right: 30px;
}
.custom-modal {}


.pac-container .pac-item:hover{
   background: #ddd;
}
.pac-container {
   z-index: 999999 !important;
}

.top-cta {
   max-width: 250px;
	width: 100%;
}

.navbar-light .navbar-toggler {
   border-color: transparent;
}
.phonetop{
	display: none;
}
.phonenav{
	font-size: 22px;
}
.bannerbox{
	padding: 80px 0 100px;
	position: relative;
}
.bannerbox .container{
	position: relative;
}
.bannerbox:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bannerbox h2{
	font-size: 45px;
	color: #fff;
	font-weight: bold;
}
.bannerbox h3{
	font-size: 35px;
	font-weight: bold;
	color: #fff;
}
.bannerbox p{
	font-size: 24px;
	line-height: 28px;
	color: #fff;
}

.bannerbox.bnnerl{
	background: url(../images/bnnerl_bg.jpg) no-repeat center;
    background-size: cover;
    /*background-color: #405d80;
    background-blend-mode: overlay;*/
}
.bannerbox.bnnerl:before{
	background: rgba(20,61,114,0.7);
}
.bannerbox.bnnerr{
	background: url(../images/bnnerr_bg.jpg) no-repeat center;
    background-size: cover;
    /*background-color: #b89c4d;
    background-blend-mode: overlay;*/
}
.bannerbox.bnnerr:before{
	background: rgba(216,169,25,0.6);
}
/*Styling for Small Screen*/
@media (min-width: 992px) { 
	.logo-sm-screen{
		display: none;
	}
	button.btn.btn-primary.rounded-0.btn-sm.d-block.text-center.my-3{
		display: none!important;
   }
	.navbar-nav .nav-item .nav-link{
		line-height: 100px;
		border: none;
   }
	.why-momentum-solar{
		padding-right: 0px;
    	padding-left: 60px;
	}
}
@media (max-width: 1310px) { 
	.logo-container img{
		width: 140px;
	}
	li.nav-item.phonenav {
		font-size: 18px;
	}
	li.nav-item{
		font-size: 14px;
	}
	.navbar-nav .nav-item .nav-link{
		padding: 0 18px;
	}
}

@media (max-width: 991.98px) { 
	.free-quote-text{
		display: none;
	}
	.phonenav{
		display: none;
	}
	li.nav-item{
		font-size: 18px;
	}
	#section-2 ul {
		display: block;
	}
	#section-2 ul li{
		padding: 10px 0;
	}
	#section-2 ul li:not(:last-child){
		border-right: none;
		border-bottom: 1px solid;
	}
	.hamburger-icon{
		position: absolute!important;
		top: 5px!important;
		right: 0!important;
	}
	/*Logo Styling*/
	.logo-container{
		margin: 0 auto!important;
	}
	.button-free-quote-text{
		margin: 0 auto;
	}
	.contact-button{
		font-size: 14px;
		font-weight: 500;
   }
   .custom-modal .container {
      padding: 50px 0;
   }
   .checkbox {
      width: 200px;
      height: 70px;
      margin-bottom: 20px;
      margin-left: 10px;
      margin-right: 10px;
   }
	.fixed-bottom.px-5{
		padding-right: 0rem !important;
		padding-left: 0rem !important;
		display: block !important;
	}
	.fixed-bottom.px-5 a.pull-left{
		display: none;
	}
	.fixed-bottom.px-5 a.pull-right{
		width: 100%;
		margin-bottom:0px !important;
		margin-top: 0px !important;
		text-align: center;
		-webkit-appearance: none;
	}
	footer.footer-section{
		margin-bottom: 65px;
	}
	a.navbar-brand.py-3{
		padding-top: 0px !important;
		padding-bottom: 0.5rem !important;
	}
	.banner {
		margin-top: 48px;
	}
	.hamburger-icon{
		top: 3px!important;
	}
	.sitelogo {
      width: 140px;
   }
	.sitelogo {
      width: 140px;
   }
	.phonetop{
		display: block;
		position: fixed;
		top: 4px;
   		left: 30px;
		z-index: 1031;
	}
	.phonetop img{
		width: 20px;
		height: auto;
	}
	section#faq .comparemage img{
		width: 90%;
		margin: 0 5%;
		max-height: 110px;
	}

}

@media (max-width: 425px) {
	.banner {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.banner .title-top {
		font-size: 26px;
		margin-top: 15px;
	}
	.banner .title-mid {
		font-size: 20px;
	}
}

@media (max-width: 365px) {
	.banner .title-mid {
		font-size: 20px;
	}
}

.shade-image {
   position: relative;
   border: 3px solid transparent;
}

.shade-image:hover{
   border-color: var(--color-secondary);
}

.shade-image:hover:after{
   background: rgba(0,0,0,0.2);
}

.shade-image:after{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
@media (max-width: 576px) { 
	.step4mobile{
		display: block;
	}
	.step4desk{
		display: none;
	}
}
@media (max-width: 560px) { 
   .checkbox{
      width: 140px;
      height: 55px;
      margin-bottom: 15px;
      margin-left: 5px;
      margin-right: 5px;
   }
   .sitelogo {
      width: 140px;
   }
   .custom-modal h3 {
      font-size: 1.4rem;
	}
	.custom-modal {
		font-size: 15px;
	}
	
}

@media (max-width: 767px) { 
	.center-on-small {
		text-align: center;
	}
	.bt-sm{
		border-top: 1px solid;
		padding-bottom: 6px;
	}
	.bb-sm{
		border-bottom: 1px solid;
		padding-top: 6px;
	}
	.phone-number {
		font-size: 16px;
   }
	
}

.joomdev::after
{
	background: rgba(0,0,0,0.2);

}