
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
.form-group input {
    border: 1px solid #ccc;
}

form.form-america input {
    color: #000;
    font-size: 15px;
    line-height: normal;
    font-family: 'Lato', sans-serif;
}

.title2 {
    color: #336699;
    font-size: 38px;
    font-weight: 300;
      font-family: 'Lato', sans-serif;
}

#address-error {
    font-size: 16px;
    color: red;
}

#state-error
{
    font-size: 16px;
    color: red;
}

#first_name-error {
        font-size: 16px;
    color: red;
}

#last_name-error {
        font-size: 16px;
    color: red;
}

#email-error{
          font-size: 16px;
    color: red;
}

#zip-error{
           font-size: 16px;
    color: red;
}
#phone-error{
               font-size: 16px;
    color: red;
}

#market_america_id-error {
             font-size: 16px;
    color: red;
}



input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    border-radius: 3px;


}

.title, .title1, .title2, .title3, .title4 {
    margin-top: 0;
    margin-bottom: 20px;

    line-height: 1.3;
}

body, button, input, select, textarea {
    color: #585858;
    font-size: 15px;
    line-height: 1.5;
}

select#state {
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #7b7979 !important;
}

.btn-style2 {
    padding: 15px 0;
    background-color: #46C8F5;
    font-size: 30px;
}

.btn {
    background: #00aeef;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: none;
    text-decoration: none;
    width: 100%;
    text-transform: uppercase;
}

.form-group input {
  border: none;
  padding: 15px;
  border: 1px solid #ccc;
  width: 98%;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: 'Lato';
  color: #222222 !important;
}

embed,
img,
object,
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  left: -5000px;
  position: absolute;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}
.COLS_IN_ROW_WITHOUT_GAP {
  margin-left: -15px;
  margin-right: -15px;
}
.navbar-nav > li > a {
  padding: unset;
}
.navbar-nav > li > a:hover {
  background: unset;
}
a {
  color: inherit;
}
@media (min-width:1200px){
  .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
  .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
  .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
  .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
  .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
  .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
  .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
  .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}
html {
  font-size: 10px;
}
body {
  color: #393939;
  font-family: Ubuntu, sans-serif;
  font-size: 2.352173rem; /* 23.52px / 10px = 2.352rem */
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  text-decoration: none;
}
@media (max-width: 768px) {
html {
  font-size: 8px;
}
}
@media (min-width: 1200px) {
.container {
  width: 1316px;
}
}
body {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.artboard-1 {
  margin: 0 auto;
  position: relative;
}
.header {
  padding: 23px 0 3.2rem;
  position: relative;
  background: url(images/topBackground.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
}
.bottomBanner {
  position: relative;
  display: block;
  height: 2vh;
  width: 100%;
  background: url(images/bottomBanner.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.col-3 {
  margin: 30px auto 0;
  position: relative;
}
.layer-1 {
  display: block;
  position: relative;
  width: 90%;
}
.layer-2 {
  display: block;
  margin: 3rem 0 0;
  position: relative;
  width: 71%;
}
.layer-3 {
  display: block;
  margin: 4.8rem 0 0;
  position: relative;
  width: 37%;
}
.layer-4 {
  display: block;
  margin: 10.8rem 0 0;
  max-width: 304px;
  position: relative;
  width: 100%;
}
.form {
  margin: 0 auto;
  padding: 27px 6.466513% 23px; /* 28px / 433px = 6.466513% */
  width: 100%; /* 433px / 433px = 100% */
  background: url(images/layer_5.png) no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.text {
  color: #336699;
  font-size: 3.6rem; /* 36px / 10px = 3.6rem */
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
.fname {
  margin: 16px auto 0;
  padding: 9px 0.461894% 14px; /* 2px / 433px = 0.461894% */
  position: relative;
  background: url(images/in_fname.png) no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.text-2 {
  margin: 0 auto;
  width: 97.14286%; /* 340px / 350px = 97.14286% */
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: 500;
  text-transform: uppercase;
}
.lanme {
  margin: 15px auto 0;
  padding: 9px 0 14px;
  position: relative;
  background: url(images/in_fname.png) no-repeat center center;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}
.text-3 {
  margin: 0 0 0 2.078522%; /* 9px / 433px = 2.078522% */
  font-size: 1.4rem; /* 14px / 10px = 1.4rem */
  font-weight: 500;
  text-transform: uppercase;
}
.but-submit {
  display: block;
  margin: 41.4rem auto 0;
  max-width: 375px;
  width: 100%;
}
.form-form {
  margin: 0 -0.182482% 0 15.693431%; /* -1px / 548px = -0.182482%, 86px / 548px = 15.693431% */
  position: relative;
}
.form-form {
  margin: 31px auto 0;
  position: relative;
}
.container-2 {
  position: relative;
}
.section-wrapper {
  position: relative;
}
.section {
  margin: 3.7rem auto 0;
  position: relative;
}
.text-4 {
  margin: 0 4.743391% 0 9.40902%; /* 61px / 1286px = 4.743391%, 121px / 1286px = 9.40902% */
  text-align: center;
}
.text-4 > * {
  text-align: center;
  text-transform: uppercase;
  color: #336699;
    font-size: 38px;
    font-weight: 300;
}
}
.text-5 {
  margin: 3.4rem 7.620529% 0 12.5972%; /* 98px / 1286px = 7.620529%, 162px / 1286px = 12.5972% */
  text-align: center;
  color: #00CCFF;
    font-size: 70px;
}
.text-5 > * {

    color: #00CCFF;
    font-size: 70px;

  text-align: center;
  text-transform: uppercase;
}
.layer-9 {
  display: block;
  margin: 5.4rem 0 0;
  max-width: 1269px;
  position: relative;
  width: 100%;
}
.wrapper {
  left: 0.311042%;
  margin: 30px auto 0;
  min-height: 417px;
  position: relative;
  width: 99.377914%; /* 1278px / 1286px = 99.377914% */
}
.layer-10 {
  height: 361px;
  left: 50%;
  position: absolute;
  top: 5px;
  width: 0.23%;
  background-color: #cbcbcb;
  margin-left: -5px;
}
.layer-11 {
  left: 50%;
  max-width: 1269px;
  position: absolute;
  top: 415px;
  width: 100%;
  margin-left: -638px;
}
.col-4 {
  left: 50%;
  position: absolute;
  top: 0;
  width: 48.748043%; /* 623px / 1278px = 48.748043% */
  margin-left: -639px;
}
.text-6 {
  color: #336699;
  font-size: 38px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Lato';
  margin-left: 30px;
}
.text-7 {
   margin: 30px 30px 0;
    text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
.text-8 {
   margin: 30px 30px 0;
    text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
.text-9 {
   margin: 30px 30px 0;
    text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
@media (max-width: 589px) {
.text-9 {
  left: 0;
  right: 0;
  width: 100%;
 
  margin-right: 0;
}
}
.text-10 {
   margin: 30px 30px 0;
    text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
.right-2 {
  left: 50%;
  position: absolute;
  top: 1px;
  width: 48.59155%; /* 621px / 1278px = 48.59155% */
  margin-left: 18px;
}
.text-11 {
      color: #336699;
    font-size: 38px;
    font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  font-family: 'Lato';
  margin-left: 30px;
}
.text-12 {
  margin: 20px 30px 0;
  text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
.text-13 {
  margin: 20px 30px 0;
  text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
.text-14 {
  margin: 20px 30px 0;
  text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
@media (max-width: 590px) {
.text-14 {
  left: 0;
  right: 0;
  width: 100%;
  
  margin-right: 0;
}
}
.text-15 {
  margin: 20px 30px 0;
  text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
.text-16 {
  margin: 20px 30px 0;
  text-align: left;
      color: #585858;
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Lato';
}
@media (max-width: 1278px) {
.wrapper {
  left: 0;
  right: 0;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
}
@media (max-width: 768px) {
.wrapper {
  left: 0;
}
}
.container-3 {
  position: relative;
}
.footer-wrapper {
  position: relative;

}
.footer {
  margin: 6.4rem auto 0;
  position: relative;
}
.text-17 {
  position: relative;
  text-align: center;
      color: white;
    font-size: 38px;
    font-weight: 300;
}

.row-5 {
  margin-top: -29px;
  margin-bottom: 3%;
}
.layer-14 {
  display: block;
margin: 8.4rem auto 0;
    max-width: 200px;
  position: relative;
  right: 1.505017%;
  width: 100%;
}
@media (max-width: 768px) {
.layer-14 {
  right: 0;
}
}
.layer-13 {
  display: block;
margin: 8.4rem auto 0;
    max-width: 200px;
  width: 100%;
}
.layer-15 {
  display: block;
margin: 8.4rem auto 0;
    max-width: 200px;
  width: 100%;
}
.layer-16 {
  display: block;
  left: 2.341137%;
margin: 8.4rem auto 0;
    max-width: 200px;
  position: relative;
  width: 100%;
}
@media (max-width: 768px) {
.layer-16 {
  left: 0;
}
}
.text-18 {
  font-size: 1.6rem; /* 16px / 10px = 1.6rem */
  line-height: 1.2;
  text-align: center;
  font-size: 15px;
    color: #585858;
    max-width: 1020px;
    margin: 20px auto;
    opacity: 0.30;
    letter-spacing: 0.2px;
    font-family: 'Lato';
}
.container-4 {
  position: relative;
}
@media (max-width: 768px) {
.layer-2 {
  margin: 10% 0 0;
  width: 100%;
}
.header {
  height: 68vh;
}
}
@media (max-width: 768px) {
.layer-3 {
  margin: 10% 0 0;
  width: 86%;
}
}
@media (max-width: 768px) {
.layer-4 {
  margin: 10% 0 0;
}
}
@media (max-width: 768px) {
.but-submit {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.layer-9 {
  margin: 5.4% 0 0;
}
}
@media (max-width: 768px) {
.footer {
  margin: 6.4% auto 0;
}
}
@media (max-width: 768px) {
.layer-14 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.layer-13 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.layer-15 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.layer-16 {
  margin: 10% auto 0;
}
}
@media (max-width: 768px) {
.text-18 {
  margin: 6.4% 0 0;
}
}
.footer-wrapper {
  background: url(images/footerBg.png) no-repeat center center;
  margin-top: 3%;
  background-size: cover;
}
input#last_name {
  width: 48%;
}
input#first_name {
  width: 49%;
}
input#city {
  width: 32% !important;
}
select#state {
  width: 32% !important;
}

input#zip {
  width: 33% !important;
}


    .input-hidden {
      position: absolute;
      left: -9999px;
    }
    
    input[type=radio]:checked + label>img {
        background: white;
        border: 1px solid #33CCFF;
        padding: 7px;
        border-radius: 5px;

    }
    
    /* Stuff after this is only to make things more pretty */
    input[type=radio] + label>img {
      
 
      transition: 500ms all;
    }
  
    small.title3 {
      font-family: 'Lato';
      color: #336699;
      font-size: 16px;
  }
  .button#submitbtn {
    background: url(images/footerBg.png) no-repeat center center;
  }
  .row.checkboxRow2 {
    background: url(images/apptBg.png);
    margin-top: 4%;
    padding: 12px;
    margin-bottom: 5%;
}
.heroheading {
  background: linear-gradient(to right, #b2f5bd, #33ccff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  text-align: center;
  font-size: 31pt;
  font-family: 'Lato';
  margin-bottom: 4%;
  margin-top: 3%;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


.columnsContainer
{ position: relative; margin: .5em; }


.leftColumn { margin-bottom: .5em; }


/* MEDIA QUERIES */
@media screen and (min-width: 47.5em ) {
  .leftColumn { margin-right: 50%; }

	.rightColumn { position: absolute; top: 0; right: 0; width: 50%; 
    border-left: 2px solid #cbcbcb;
  }   
}
.container.bottomBanner {
  width: 100%;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 22px !important;
  font-weight: 700;
  cursor: pointer;
}

#submitbtn {
  font-size: 0px;
  background: url(images/submitBtn.png) no-repeat center center;
  width: 100%;
  height: 65px;
}

@media (min-width: 1200px){
  .container {
      width: 89%;
  }
}