body{
    font-family: 'Lato', sans-serif;
    color: #333;
}
p{
    letter-spacing: 1px;
}

.form{
    max-width:600px;
}

.form .btn.btn-primary{
    background:#009fdf;
}

.form .btn.btn-primary:hover,
.form .btn.btn-primary:focus{
    background:#009fdf91;
    outline: none;
    border-color:#009fdf91;
}

.form input.form-control,
.form .btn{
    min-height:70px;
    letter-spacing: 2px;
}

.form input.form-control{
    padding-left:20px;
    padding-right:20px;
}

.form input.form-control::placeholder{
    color:#999;
}

.form .btn{
    font-size: 20px;
    min-width:300px;
    text-transform: uppercase;
}

.close{
    position: absolute;
    top:10px;
    right:10px;
}

/* -- Step 2 -- */

.form.step-2,
.form.step-4,
.form.step-5{
    max-width:800px;
}

.checkbox{
    border:1px solid #ddd;
    width:200px;
    height: 70px;
    display: inline-flex;
    justify-content:center;
    align-items:center;
    margin-bottom:15px;
    margin-left:10px;
    margin-right: 10px;
    cursor: pointer;
    padding:0px;
}
.checkbox label:after, 
.checkbox label:before{
    display: none;
}
.checkbox input{
    cursor: pointer;
}

.checkbox input:checked{
    background: #000;
}

/* -- Step 4 -- */

.shade{
    cursor: pointer;
    max-width:300px;
    margin:0 auto;
}

.step-4 img{
    width:100%;
    box-shadow: 0px 0px 25px #ddd;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.step-4 img:hover{
    box-shadow: 10px 15px 25px #ddd;
}

.step-4 p{
    padding-left:15px;
    padding-right:15px;
    font-size: 14px;
}

.back{
   font-size: 22px; 
   line-height: 22px;
}

.back i{
    font-size: 32px;
    margin-right: 10px;
}

.bill-box > div:hover{
    background: #009fdf;
    color: #fff;
}