@font-face{
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.ttf") format("truetype");
  }
  @font-face{
    font-family: "Montserrat-bold";
    src: url("../font/Montserrat-Bold.ttf") format("truetype");
  }

.masthead{

   background: url("../img/Screen_Shot_2020-05-11_at_4152.png") repeat center center !important;
   height: 978px;
}

.Accolades_Class {
    position: absolute;
    left: 3%;
    top: 97%;
    overflow: visible;
    width: 92%;
}


.Overlay_n {
    position: absolute;
    overflow: visible;
    width: 100%;
    
    left: 0px;
    top: 0px;
}
.Overlay_n_Class {
    opacity: 0.848;
    fill: url(#Overlay_n);
}

.MS_Logo_dz_Class {
    position: absolute;
    width: 875.908px;
    height: 168.479px;
    left: 83px;
    top: 91px;
    overflow: visible;
}

.Copy_Class {
    position: relative; 
    width: 100%;
    margin-top: 13%;
    overflow: visible;
}

.Get_500_off_your_Momentum_Sola_Class {
    position: relative;
    overflow: visible;
    max-width: 50%;
    margin-top: -7%;
    font-family: Lato;
    font-weight: 100;
    font-size: 20px;
    margin-left: 48%;
    text-align: right;
    
    color: rgba(255,255,255,1);
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 238px;
    height: 5px;
    left: 0.5px;
    top: 145.5px;
    transform: matrix(1,0,0,1,0,0);
}
.Line_1_Class {
    fill: transparent;
    stroke: rgba(70,200,245,1);
    stroke-width: 5px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.text-4 > * {
    text-align: center;
    text-transform: uppercase;
    color: #336699;
    font-size: 20px;
    font-family: lato;
    font-weight: 300;
}
.text-5 > * {
    line-height: 1;
    color: #00CCFF;
    font-size: 20px;
    text-align: center;
    margin-top:-2%;

}
.layer-14 {
    display: block;
    margin: 0 auto 0;
    max-width: 200px;
    position: relative;
    right: 1.505017%;
    width: 100%;
}
.layer-13 {
    display: block;
    margin: 0 auto 0;
    max-width: 200px;
    width: 100%;
}
.layer-15 {
    display: block;
    margin: 0 auto 0;
    max-width: 200px;
    width: 100%;
}
.layer-16 {
    display: block;
    left: 2.341137%;
    margin: 0 auto 0;
    max-width: 200px;
    position: relative;
    width: 100%;
}
.footerMS {
    
    line-height: 1.2;
    text-align: center;
    font-size: 12px;
    color: #313131;
    max-width: 94%;
    margin: 20px auto;
    opacity: 0.30;
    letter-spacing: 0.2px;
    font-family: Montserrat-Regular;
}
.form-form {
    margin-top: 4%;
    position: relative;
}
.form {
    margin: 0 auto;
    padding: 27px 6.466513% 23px;
    width: 110%;
    background: url(../img/layer_5.png) no-repeat center center;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    height: 952px;

    
}
.btn {
    background: rgba(226,112,54,1);
    text-align: center;
    color: #ffffff;
    border-radius: 0px;
    box-shadow: none;
    text-decoration: none;
    width: 73%;
    margin-left: 15%;
    text-transform: uppercase;
    font-family: lato;
    font-size: 25px;
    font-weight: 100;
}
.form-group input {
    padding: 6px 6px 6px 10px;
    border: 1px solid #cbcbcb;
    width: 100%;
    margin-bottom: 15px;
    font-size: 12px;
    font-family: lato;
}
.title2 {
    color: #336699;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: -3%;
    margin-bottom: 3%;

}
.discount {
    color: #ffffff;
    font-size: 101px;
    font-family: 'Montserrat-Regular', Arial, sans-serif;
    font-weight: 540;
}
.poweredBy {
    color: #F79633;
    font-family: 'Montserrat-Regular', Arial, sans-serif;
    font-size: 14px;
    padding-left: 66%;
    font-weight: 200;
}
@media only screen and (max-width: 1200px) {
    .poweredBy {
        
        padding-left: 56%;
        font-size: 10px;
    }
    
  }
  
  
  @media only screen and (max-width: 800px){
    .container, .container-sm {
        max-width: 80%;
    }
    .Accolades_Class{
        top: 70%;
        
    }
    .form {
        margin-top: -22%;
    }
    .text-4 {
        margin-top:40%;
    }
    .contanerHighRes {
        padding-top: 52%;
    }
    .contanerHighRes2 {
        margin-top: -29%;
    }
    .layer-15 {
        margin-top: 5%;
    }
  }


html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.latoLight {
    font-weight: 300;
  }
  .city{
      float: left;
      max-width: 65%;
      margin-right: 3%;
  }
  .state {
    max-width: 30%;
  }
  .dayTime{
    font-size: 12px;
    font-family: lato;
    color: #707070;
  }
  .optional{
    font-size: 12px;
    font-family: lato;
    color: #cbcbcb;
  }
  .socialMedia {
    margin-left: 45%;
    margin-bottom: -1%;
}


  .checkbox .tag {
    color: #717171;
    display: block;
    position: relative;
    font-size: 9px;
    margin-bottom: -36%;
    font-family: lato;
    margin-left: 20%;
    margin-top: 5%;
    
    
  }
  .checkbox label {
    display: inline;
  }
  .checkbox .input-assumpte {
    display: none;
  
  }
  .input-assumpte + label {
    background-color: #fafafa;
    border: 1px solid #cbcbcb;
    margin-left: 40%;
    padding: 8px;
    display: inline-block;
    position: relative;
    cursor:pointer;
  }
  .input-assumpte:checked + label:after {
    background-color: #00ccff;
    color: #00ccff;
    content: '\2714';
    font-size: 10px;
    left: 0px;
    padding: 2px 5px 0px 3px;
    position: absolute;
    top: 0px;
  }
  .borderBox{
    border: 1px solid #cbcbcb;
    padding-left: 9px;
    padding-right: 8px;
    margin-bottom: 3%;
  }

  .tagalign{
    height: 70%;
    vertical-align: bottom;
    
  }
  .checkboxRow {
    max-width: 100%;
}

.image-checkbox-ac
    {
        cursor: pointer;
        
        background-image : url("../img/AC.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-ac input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-ac-checked
    {
      background-image: url(../img/AC-checked.png);
      background-repeat: no-repeat;
    }
  

    .image-checkbox-fridge
    {
        cursor: pointer;
        
        background-image : url("../img/Fridge.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-fridge input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-fridge-checked
    {
      background-image: url(../img/Fridge-checked.png);
      background-repeat: no-repeat;
    }

    .image-checkbox-lighting
    {
        cursor: pointer;
        
        background-image : url("../img/Lighting.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-lighting input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-lighting-checked
    {
      background-image: url(../img/Lighting-checked.png);
      background-repeat: no-repeat;
    }

    .image-checkbox-microwave
    {
        cursor: pointer;
        
        background-image : url("../img/Microwave.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-microwave input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-microwave-checked
    {
      background-image: url(../img/Microwave-checked.png);
      background-repeat: no-repeat;
    }

.image-checkbox-internet
    {
        cursor: pointer;
        
        background-image : url("../img/Internet.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-internet input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-internet-checked
    {
      background-image: url(../img/Internet-checked.png);
      background-repeat: no-repeat;
    }

    .form-group.form-group2 {
      height: 82%;
  }
  .checkboxRow2 {
    max-width: 100%;
    height: 154px;
    margin-bottom: -4%;
}

.image-checkbox-dishwasher
    {
        cursor: pointer;
        
        background-image : url("../img/Dishwasher.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-dishwasher input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-dishwasher-checked
    {
      background-image: url("../img/DishWasher-checked.png");
      background-repeat: no-repeat;
    }
.image-checkbox-tv
    {
        cursor: pointer;
        
        background-image : url("../img/TV.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-tv input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-tv-checked
    {
      background-image: url(../img/TV-checked.png);
      background-repeat: no-repeat;
    }

    .image-checkbox-tv
    {
        cursor: pointer;
        
        background-image : url("../img/TV.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-tv input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-tv-checked
    {
      background-image: url(../img/TV-checked.png);
      background-repeat: no-repeat;
    }
.image-checkbox-washingmachine
    {
        cursor: pointer;
        
        background-image : url("../img/WashingMachine.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-washingmachine input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-washingmachine-checked
    {
      background-image: url(../img/WashingMachine-checked.png);
      background-repeat: no-repeat;
    }

.image-checkbox-coffeemaker
    {
        cursor: pointer;
        
        background-image : url("../img/CoffeeMaker.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-coffeemaker input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-coffeemaker-checked
    {
      background-image: url(../img/CoffeeMaker-selected.png);
      background-repeat: no-repeat;
    }

.image-checkbox-waterheater
    {
        cursor: pointer;
        
        background-image : url("../img/WaterHeater.png");
        background-repeat: no-repeat;
      
    }

.image-checkbox-waterheater input[type="checkbox"]
        {
            display: none;
        }

.image-checkbox-waterheater-checked
    {
      background-image: url(../img/WaterHeater-checked.png);
      background-repeat: no-repeat;
    }
@media only screen and (max-width: 1300px) {
  
        .tag{
            background-size: 90%;
        }
        .checkboxRow2 {
            height: 153px;
        
        }
}
    
@media only screen and (max-width: 1000px) {
      
        .checkboxRow2 {
            
            height: 131px;
        
        }
        .col{
            padding-left:0px;
        }
}
@media only screen and (max-width: 800px){
    .checkboxRow2 {
        height: 154px;
    }
    .tag{
        background-size: 60%;
    }
    .col{
        padding-left:15px;
    }
}
@media only screen and (max-width: 500px) {
    .contanerHighRes {
        padding-top: 138%;
    }
}

@media only screen and (max-width: 500px) {
    .contanerHighRes {
        padding-top: 141%;
    }
    .tag{
        background-size: 100%;
    }
    .checkboxRow2 {
        height: 120px;
    }
    .col{
        padding-left:0px;
    }

.checkboxRow {
    max-width: 111%;
}
}
div#results {
    background: white;
    padding: 6%;
    margin-top: 26%;
    border-radius: 20px;
    padding-bottom: 16%;
}
.custom-file-label::after {
    display:none;
  }
  label.custom-file-label {
    padding: 6px 6px 6px 10px;
    font-size: 12px;
    font-family: lato;
}